<a href="https://colab.research.google.com/github/SyedImranML/Data-Analytics/blob/main/8_DA_Sampling_Techniques_with_application.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Sampling a Data from the whole Population

Sampling Techniques with application

### Import Library

In [1]:
import pandas as pd #useful for loading the dataset
import numpy as np

### Load Dataset from Local Directory

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Dataset.csv to Dataset.csv

### Load Dataset

In [3]:
dataset = pd.read_csv('Dataset.csv')
print(dataset.shape)
print(dataset.describe())
print(dataset.head(5))

(1460, 3)
                Id        LotArea      SalePrice
count  1460.000000    1460.000000    1460.000000
mean    730.500000   10516.828082  180921.195890
std     421.610009    9981.264932   79442.502883
min       1.000000    1300.000000   34900.000000
25%     365.750000    7553.500000  129975.000000
50%     730.500000    9478.500000  163000.000000
75%    1095.250000   11601.500000  214000.000000
max    1460.000000  215245.000000  755000.000000
   Id  LotArea  SalePrice
0   1     8450     208500
1   2     9600     181500
2   3    11250     223500
3   4     9550     140000
4   5    14260     250000

### Simple Random Sampling

In [4]:
simpleRandomSample = dataset.sample(n=10).sort_values(by='Id')
mean_simpleRandomSample = round(simpleRandomSample['SalePrice'].mean(),3)
print("Mean of SimpleRandomSample:",mean_simpleRandomSample)
print(simpleRandomSample)

Mean of SimpleRandomSample: 186237.1
        Id  LotArea  SalePrice
291    292     5687     135900
555    556     6380     113000
683    684    11248     285000
847    848    15523     133500
1005  1006     8385     149900
1091  1092     2160     160000
1141  1142    10304     197500
1241  1242     9849     248328
1316  1317    10226     295493
1431  1432     4928     143750

###Systematic Sampling

In [5]:
index = np.arange(0,len(dataset),step=3)
#print(index)
systematicSample = dataset.iloc[index]
mean_systematicSample = round(systematicSample['SalePrice'].mean(),3)
print("Mean of SystematicSample:",mean_simpleRandomSample)
print(systematicSample)

Mean of SystematicSample: 186237.1
        Id  LotArea  SalePrice
0        1     8450     208500
3        4     9550     140000
6        7    10084     307000
9       10     7420     118000
12      13    12968     144000
...    ...      ...        ...
1446  1447    26142     157900
1449  1450     1533      92000
1452  1453     3675     145000
1455  1456     7917     175000
1458  1459     9717     142125

[487 rows x 3 columns]

### Cluster Sampling

In [6]:
n=5
 # Divide the units into cluster of equal size
dataset['cluster_id'] = np.repeat([range(1,n+1)],len(dataset)/n)
index = []
# For this formula, clusters id must be an even number
for i in range(0,len(dataset)):
    if dataset['cluster_id'].iloc[i]%2 == 0:
        index.append(i)
clusterSample = dataset.iloc[index]
mean_clusterSample = round(clusterSample['SalePrice'].mean(),3)
print("Mean of clusterSample:",mean_clusterSample)
print(clusterSample)

Mean of clusterSample: 178023.509
        Id  LotArea  SalePrice  cluster_id
292    293    11409     131000           2
293    294    16659     235000           2
294    295     9600     167000           2
295    296     7937     142500           2
296    297    13710     152000           2
...    ...      ...        ...         ...
1163  1164    12900     108959           4
1164  1165    16157     194000           4
1165  1166     9541     233170           4
1166  1167    10475     245350           4
1167  1168    10852     173000           4

[584 rows x 4 columns]

###Stratifield Random Sampling - Adding Subgroup(Strata)

In [7]:
dataset = pd.read_csv('Dataset.csv')
dataset['strata'] = np.repeat([1,2],len(dataset)/2)
index = []
for i in range(0,len(dataset)):
  index.append(i)
stratifieldRandomSample = dataset.iloc[index]
stratifieldRandomSample

        Id  LotArea  SalePrice  strata
0        1     8450     208500       1
1        2     9600     181500       1
2        3    11250     223500       1
3        4     9550     140000       1
4        5    14260     250000       1
...    ...      ...        ...     ...
1455  1456     7917     175000       2
1456  1457    13175     210000       2
1457  1458     9042     266500       2
1458  1459     9717     142125       2
1459  1460     9937     147500       2

[1460 rows x 4 columns]

###Stratifield Random Sampling - Sampling

In [8]:
#!pip intall scikit-learn
from sklearn.model_selection import StratifiedShuffleSplit as sss

# Set the split criteria
split = sss(n_splits=1, test_size=8)

# Perform data frame split
for x, y in split.split(dataset, dataset['strata']):
    stratifiedRandomSample = dataset.iloc[y].sort_values(by='SalePrice')

stratifiedRandomSample

        Id  LotArea  SalePrice  strata
155    156     9600      79000       1
809    810     8100     106000       2
1356  1357     9477     110000       2
630    631     9000     124000       1
371    372    17120     134432       1
1047  1048     9245     145000       2
1341  1342    13695     155000       2
715    716    10140     165000       1