<a href="https://colab.research.google.com/github/SyedImranML/Data-Analytics/blob/main/DataAnalytics_ExploringMeanMedianQuartile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exploring Mean Median Quartile

Importing Library

In [1]:
import pandas as pd #useful for loading the dataset

Load Dataset from local Directory

In [2]:
from google.colab import files
uploaded =files.upload()

Saving Dataset.csv to Dataset.csv

Load Dataset

In [5]:
dataset =pd.read_csv('Dataset.csv')
datasetwithNAN = dataset
dataset

    land      Price
0   1000     2245.0
1   2000     4575.0
2   3000     6874.0
3   4000     8878.0
4   5000        NaN
5   6000    12457.0
6   7000    14785.0
7   8000    16785.0
8  10000  2078900.0

Load Summarize

In [7]:
print(dataset.shape)
print(dataset.describe())

(9, 2)
               land         Price
count      9.000000  8.000000e+00
mean    5111.111111  2.681874e+05
std     2934.469477  7.316554e+05
min     1000.000000  2.245000e+03
25%     3000.000000  6.299250e+03
50%     5000.000000  1.066750e+04
75%     7000.000000  1.528500e+04
max    10000.000000  2.078900e+06

checking for NAN Values

In [8]:
dataset.isna().any()

land     False
Price     True
dtype: bool

Filling NAN values with the Mean

Problem - New Value becomes high becoz of outlier (Large Value Scale)

In [10]:
meandataset = dataset.Price.fillna(dataset.Price.mean())
meandataset

0       2245.000
1       4575.000
2       6874.000
3       8878.000
4     268187.375
5      12457.000
6      14785.000
7      16785.000
8    2078900.000
Name: Price, dtype: float64

Solution - Filling NAN values with the Median

In [11]:
mediandataset = dataset.Price.fillna(dataset.Price.median())
mediandataset

0       2245.0
1       4575.0
2       6874.0
3       8878.0
4      10667.5
5      12457.0
6      14785.0
7      16785.0
8    2078900.0
Name: Price, dtype: float64

Solution - Filling NAN values with the Mode

In [12]:
modedataset = dataset.Price.fillna(dataset.Price.mode())
modedataset

0       2245.0
1       4575.0
2       6874.0
3       8878.0
4      12457.0
5      12457.0
6      14785.0
7      16785.0
8    2078900.0
Name: Price, dtype: float64

Identifying and removing the outlier - Huge difference in value.

In [13]:
dataset.describe()

               land         Price
count      9.000000  8.000000e+00
mean    5111.111111  2.681874e+05
std     2934.469477  7.316554e+05
min     1000.000000  2.245000e+03
25%     3000.000000  6.299250e+03
50%     5000.000000  1.066750e+04
75%     7000.000000  1.528500e+04
max    10000.000000  2.078900e+06

In [16]:
percentile = dataset.Price.quantile(0.75)
percentile

15285.0

In [17]:
percentile = dataset.Price.quantile(1.0)
percentile

2078900.0

In [18]:
datasetNoOutlier = dataset[dataset.Price<percentile]
datasetNoOutlier

   land    Price
0  1000   2245.0
1  2000   4575.0
2  3000   6874.0
3  4000   8878.0
5  6000  12457.0
6  7000  14785.0
7  8000  16785.0