# What is Pandas?

Pandas is one of the most important libraries of Python.
</br>
Pandas has data structures for data analysis. The most used of these are Series and DataFrame data structures. Series is one dimensional, that is, it consists of a column. Data frame is two-dimensional, i.e. it consists of rows and columns.

To install Pandas, you can use "pip install pandas"

In [1]:
import numpy as np

In [2]:
import pandas as pd # Let's import pandas with pd

# Series Data Structure

A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.

In [3]:
import pandas as pd # Let's import Pandas with pd.

In [12]:
obj=pd.Series([1,"John",3.5,"Hey"])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [7]:
obj[0]

1

In [8]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [9]:
obj2=pd.Series([1,"John",3.5,"Hey"],index=["a","b","c","d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [15]:
obj2["b"]

'John'

In [16]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
score={"Jane":np.NaN, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
type(score)

dict

In [18]:
names=pd.Series(score) # Convert to Series 
names

Jane     NaN
Bill    80.0
Elon    85.0
Tom     75.0
Tim     95.0
dtype: float64

In [19]:
names.index

Index(['Jane', 'Bill', 'Elon', 'Tom', 'Tim'], dtype='object')

In [20]:
names

Jane     NaN
Bill    80.0
Elon    85.0
Tom     75.0
Tim     95.0
dtype: float64

In [21]:
names["Tim"]

95.0

In [23]:
names>=85

Jane    False
Bill    False
Elon     True
Tom     False
Tim      True
dtype: bool

In [22]:
names[names>=85]

Elon    85.0
Tim     95.0
dtype: float64

In [25]:
names["Tom"]=60
print(names)

Jane     NaN
Bill    80.0
Elon    85.0
Tom     60.0
Tim     95.0
dtype: float64

In [26]:
names[names<=80]=83
names

Jane     NaN
Bill    83.0
Elon    85.0
Tom     83.0
Tim     95.0
dtype: float64

In [27]:
"Tom" in names

True

In [28]:
"Can" in names

False

In [29]:
"TOM" in names

False

In [30]:
print(names)

Jane     NaN
Bill    83.0
Elon    85.0
Tom     83.0
Tim     95.0
dtype: float64

In [31]:
print(Names)

NameError: name 'Names' is not defined

In [ ]:
# a - Output will be same
# b - names will throw error
# c - Names will throw error --> Correct
# d -  dont know

In [32]:
names

Jane     NaN
Bill    83.0
Elon    85.0
Tom     83.0
Tim     95.0
dtype: float64

In [33]:
names/10

Jane    NaN
Bill    8.3
Elon    8.5
Tom     8.3
Tim     9.5
dtype: float64

In [34]:
names**2

Jane       NaN
Bill    6889.0
Elon    7225.0
Tom     6889.0
Tim     9025.0
dtype: float64

In [35]:
names.isnull()

# (20,000 values)

Jane     True
Bill    False
Elon    False
Tom     False
Tim     False
dtype: bool

In [36]:
names.isnull().sum()

# biggest enemy!

1